* {


}

body
{
    background-image: url(futurething.JPG);
    color: #043438;
    background-color: ;
}
.container {
    color:#4A9FC4 ;
    background-color:#043438 ;
}

h1{
    background-color:lightcyan;
}